*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.galaxy{
    display: flex;
    align-items: center;
    margin-left:500px;
    margin-top: 250px;
}

.sun{
    margin-top: -10px;
    margin-left: 20px;
    background-color: rgb(211, 198, 19);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    top: 47%;
    left: 49%;
    position: absolute;

    
}

.mercury-orbit{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid white;
    top: 42%;
    left: 48%;
    position: absolute;
    animation-name: planet;
    animation-direction: linear;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}


.mercury{
    margin-top: -10px;
    margin-left: 20px;
    background-color: rgb(145, 94, 19);
    width: 22px;
    height: 22px;
    border-radius: 50%;
    top: 43%;
    left: 66%;
    position: absolute;
}

.venus-orbit{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid white;
    top: 37%;
    left: 45%;
    position: absolute;
    animation-name: planet;
    animation-direction: linear;
    animation-duration: 40s;
    animation-iteration-count: infinite;
}


.venus{
    margin-left: 20px;
    background-color: rgb(196, 161, 109);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    top: 75%;
    left: 66%;
    position: absolute;
    
}

.earth-orbit{
    width:300px;
    height:300px;
    border-radius: 50%;
    border:2px solid rgb(231, 227, 227);
    top: 32%;
    left: 42%;
    position: absolute;
    animation-name: planet;
    animation-direction: linear;
    animation-duration: 50s;
    animation-iteration-count: infinite;
}


.earth{
    margin-left: 20px;
    background-color: rgb(27, 75, 177);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top: 32%;
    left: 87%;
    position: absolute;
}

.jupiter-orbit{
    width:400px;
    height:400px;
    border-radius: 50%;
    border:2px solid rgb(219, 214, 214);
    top: 26%;
    left: 40%;
    position: absolute;
    animation-name: planet;
    animation-direction: linear;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    
}


.jupiter{
    margin-left:20px;
    background-color: rgb(173, 156, 125);
    width:50px;
    height:50px;
    border-radius: 50%;
    top: 22%;
    left: 40%;
    position: absolute;
}

@keyframes planet {
    from {
        transform: rotate(0deg);
    }
    to 
    {
        transform: rotate(10000deg);
    }
  }


body{
    background-image: url(/images/stars.gif);
    background-repeat: no-repeat;
    background-size: cover;
}